<!DOCTYPE html>

<html>
    <head>
        <meta charset=" utf-8">
        <meta name="viewpoint" content ="width-device-width, initial-scale-1">
        <title>"SVG"</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <style>
        table, th, td {
          border: 1px solid black;
          border-collapse: collapse;}
        </style>
    </head>

  <body>
    <svg viewBox="0 0 180 180"
    version="2.1"
     xmlns="http://www.w3.org/2000/svg">
     <text x="45" y="75" font-style="bold">Hello</text>
  <text x="93" y="110" font-style="italic">Barbie!</text>
 <circle cx="90" cy="90" r="80" stroke= "pinK" fill="transparent" stroke-width="5"/>
 <circle cx="10" cy="87" r="5" fill="grey" stroke-width="2"></circle>
 <circle cx="170" cy="88" r="5" fill="grey" stroke-width="2"></circle>
 <circle cx="95" cy="10" r="5" fill="grey" stroke-width="2"></circle>
 <circle cx="95" cy="170" r="5" fill="grey" stroke-width="2"></circle>
</svg>
<nav class="menue">
    <ul>
        <li><a href="https://github.com/fa826/assi5/blob/06f62ca9a38f5a8f2c106c989777a1b505eb21bc/index.html">Home Page</a></li>
        <li><a href="https://github.com/fa826/assi5/blob/06f62ca9a38f5a8f2c106c989777a1b505eb21bc/views/two.html">Page Two</a></li>
        <li><a href="https://github.com/fa826/assi5/blob/06f62ca9a38f5a8f2c106c989777a1b505eb21bc/views/three.html">Page Three</a></li>
    </ul>
</nav>
<h1>Favorite Coding Resources</h1>

<table>
  <caption>
    Coding Resources
  </caption>
  <thead>
    <tr>
        <td>&nbsp;</td>
        <th scope="col">Youtube</th>
        <th scope="col">Website</th>
        <th scope="col">Book</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Resources</th>
      <td>freeCodeCamp.org</td>
      <td>W3 resources</td>
      <td>Python Book by Fabrizio Romano</td>
    </tr>
  </tbody>
</table>
      
<table>
    <tr style="margin: 30px; padding: 5px;">
      <td style="margin: 30px; padding: 5px;"></td>
      <td>&nbsp;</td>
      <td>Website Search</td>
      <td>Youtube</td>
      <td>Textbook</td>
    </tr>
    <tr>
      <td style="margin: 5px; padding: 5px; padding-right: 20px"></td>
      <td>Resources</td>
      <td>W3 Schools</td>
      <td>freeCodeCamp.org</td>
      <td>Pythong book</td>
    </tr>
  </table>
  </body>
  </html>
